<% include includes/head %>
<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <% include includes/sidebar %>
        <!-- Sidebar End -->

        <!-- Top Bar -->
        <% include includes/topbar %>
        <!-- Top Bar End -->
    
        <!-- Page Content  -->
        <div id="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h3 class="font-weight-bold">Welcome <%= user.fname.charAt(0).toUpperCase() + user.fname.slice(1) %></h3>
                        <h6 class="font-weight-normal mb-0">
                            All systems are running smoothly! You have <span class="text-primary">3 unread
                                alerts!
                        </span></h6>
                    </div>

                    <div class="col-12 col-xl-4">
                        <div class="justify-content-end d-flex">
                            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                <button class="btn btn-sm btn-light bg-white rounded-pill box-shadow dropdown-toggle" type="button" id="dropdownMenuDate2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                                    <a class="dropdown-item" href="#">January - March</a>
                                    <a class="dropdown-item" href="#">March - June</a>
                                    <a class="dropdown-item" href="#">June - August</a>
                                    <a class="dropdown-item" href="#">August - November</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card tale-bg">
                            <div class="card-people mt-auto">
                                <img src="/img/bg/people.svg" alt="people">
                                <div class="weather-info">
                                    <div class="d-flex">
                                        <div>
                                            <h2 class="mb-0 font-weight-normal">
                                                <i class="far fa-sun"></i>31<sup>C</sup>
                                            </h2>
                                        </div>
                                        <div class="ml-2">
                                            <h4 class="location font-weight-normal">Abuja</h4>
                                            <h6 class="font-weight-normal">Nigeria</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin transparent">
                        <div class="row">
                        <% if (cTot && cTot.length > 0 ) { %>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card card-tale">
                                    <div class="card-body">
                                        <p class="mb-2">Customers</p>
                                        <p class="fs-30 mb-0"><%= cTot[0].total; %></p>
                                        <p>
                                            <%= ciTot[0].total; %> In Active Customers
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (user && user.user_type == "SuperAdmin" && uTot && uTot.length> 0 ) { %>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card card-tale">
                                    <div class="card-body">
                                        <p class="mb-2">Administrators</p>
                                        <p class="fs-30 mb-0"><%= uTot[0].total; %></p>
                                        <p><%= uiTot[0].total; %> In Active Admins</p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        </div>
                        <div class="row">
                        <% if (prdTot && prdTot.length> 0 ) { %>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card card-tale">
                                    <div class="card-body">
                                        <p class="mb-2">Products</p>
                                        <p class="fs-30 mb-0">
                                            <%= prdTot[0].total; %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                            <div class="col-md-6 stretch-card transparent">
                                <div class="card card-light-danger">
                                    <div class="card-body">
                                        <p class="mb-2">Number of Clients</p>
                                        <p class="fs-30 mb-0">47033</p>
                                        <p>0.22% (30 days)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    
            
    
            
        </div>
    </div>

</body>

<script src="/js/bootstrap/popper.min.js+bootstrap.min.js.pagespeed.jc.sIO8dxRblt.js"></script>
<script src="/js/custom/design.js"></script>

</html>