<div id="products" class="untree_co-section bg-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center text-lg-left" data-aos="fade-up" data-aos-delay="0">
                <div class="heading mb-4">
                    <span class="subtitle">Select your Meal</span>
                    <h3>Popular <strong class="text-primary">Foods</strong></h3>
                </div>
                <%if (cats && cats.length> 0) { %>
                <ul class="list-unstyled untree_co-tab-nav js-custom-dots">
                    <% for (var t=0; t < cats.length; t++) { %>
                        <li class="<%= ((t == 0) ? 'active' : '') %>">
                            <a href="#" class="d-flex align-items-center">
                                <% if (cats[t].img && cats[t].img != '') { %>
                                    <img src="<%= cats[t].img %>" alt="<%= cats[t].name %> Category Image" class="img-fluid">
                                <% } else { %>
                                    <img src="/img/categories/default.png" alt="<%= cats[t].name %> Category Image" class="img-fluid">
                                <% } %>
                                    <span><%= cats[t].name %></span>
                            </a>
                        </li>
                    <% } %>
                </ul>
                <% } %>
            </div>
            <div class="col-lg-9 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <% if (cats && cats.length> 0) { %>
                <div class="owl-single no-dots owl-carousel">
                    <% for (var t=0; t < cats.length; t++) { %>
                        <div class="item mx-2">
                            <div class="row align-items-center mb-4">
                                <div class="col-6">
                                    <h2 class="text-black"><%= cats[t].name %></h2>
                                </div>
                                <div class="col-6 text-right number"><%= (t + 1).toString() + '/' + cats.length %></div>
                            </div>
                        <% if (prds && prds.length> 0) { %>
                            <div class="row">
                            <% for (var p=0; p < prds.length; p++) { var v = 0 %>
                                <% if (prds[p] && prds[p].category == cats[t].id && v <= 3) { v = v + 1 %>
                                <div class="col-6 col-lg-6 mb-4">
                                    <div class="product">
                                        <a href="#" class="thumbnail">
                                        <% if (prds[p].img && prds[p].img != '') { %>
                                            <img src="<%= prds[p].img; %>" alt="<%= prds[p].name; %>" class="img-fluid">
                                        <% } else { %>
                                            <img src="/img/prds/default.png" alt="<%= prds[p].name; %>" class="img-fluid">
                                        <% } %>
                                        </a>
                                        <h3><a href="#"><%= prds[p].name; %></a></h3>
                                        <div class="d-flex">
                                        <% if (prds[p].discount && prds[p].discount !='' && prds[p].discount != 0 ) { %>
                                            <div class="price strike">
                                                &#8358; <%= (prds[p].price).toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ); %>
                                            </div>
                                            <div class="ml-3 discount">&#8358; <%= ( (parseFloat(prds[p].price)) - ( (parseFloat(prds[p].discount) / 100) *  parseFloat(prds[p].price) )).toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ); %></div>
                                        <% } else { %>
                                            <div class="price">
                                                &#8358; <%= (prds[p].price).toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ); %>
                                            </div>
                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            <% } %>
                            </div>
                        <% } %>
                        </div>
                    <% } %>
                </div>
            <% } %>
            </div>
        </div>
    </div>
</div>